<span class='tag is-dark is-small is-vcentered ml-3' 
   *ngIf='msg1.length > 0'>
   {{msg1}} 
   <!-- &#9675;
   &#9682;
   &#9679; -->
</span>

<table class='table is-fullwidth ml-3 mr-3 mb-3'>
   <thead> 
     <th>id</th>
     <th>first name</th>
     <th>last name</th>
     <th>date time</th>
     <th>status</th>
     <th>last Question</th>
    <!-- blank th over buttons: -->
    <th> </th>  
    <th> </th>
     
   </thead>
   <tbody>
   <tr *ngFor='let u of usersArray, index as ux'
       class='has-background-success-light'> 
       <td>{{u.userId}}</td>
       <td>{{u.firstName}}</td>
       <td>{{u.lastName}}</td>
       <td>{{u.localUserDateTime}}</td>
       <td>{{u.status}}</td>
       <td>{{u.priorQ}}</td>
       <td>   
        <button class='button is-small is-info' 
        (click)=scoresCsvButClicked(ux)> 
          get scores csv
        </button> 
       </td>
       <td>   
        <button class='button is-small is-info' 
        (click)=AssRptButClick(ux)> 
          get assessment csv
        </button> 
      </td>
      <td>
        <button class='button is-small is-info' 
        (click)=delButClick(ux)> 
          delete
        </button> 

       </td>

   </tr>
   </tbody>
</table>
