<span class='mt-1 tag is-dark is-small is-vcentered ml-3' 
    *ngIf='msg1.length > 0'>
    {{msg1}} 
</span>

<div class='mt-3 '>
  <span class='button is-info'
        (click)='prevButClick()'
  >  &#5176; prev</span> &nbsp;
  <span class='button is-info'
      (click)='nextButClick()'
  > next &#5171;  </span> &nbsp;
  <!-- <span class='button is-info'
  (click)='filtButClick()'
> Filter Group: {{filterBySubset}}  </span> &nbsp; -->
  <span class='button is-info'
     (click)='addButClick()'
  > add  </span> &nbsp;

  <span class='button is-info'
    (click)='delButClick()'
  > delete </span> &nbsp;

  <span class='button is-info'
    (click)='saveButClick()'
  > save </span> &nbsp;
</div>

<div class='mt-3'>  
<table class=' table has-background-success-light is-narrow'>
  <tr>
    <td><label>Question nbr: </label></td>
    <td><input  disabled
      class='has-background-success-light '
      value= {{questionsIn[qx].questNbr}}
      size="4"
      autocomplete="off"></td>
  </tr>
  <tr>
<td><label>Sequence: </label>  &nbsp;
    </td>
 <td>
   <input  
      #questSeq
      class=' is-small '
      value= {{questionsIn[qx].questSeq}}
      size="7"
      (change)=questSeqChg(questSeq.value,qx)              
      autocomplete="off">
   <span class='tag is-info is-clickable ml-3' 
    (click)='ranSeqButClick(qx)'>
     randomize</span>
    </td>
  </tr>
  <tr>
  <td><label>Pre-Question: </label></td>
  <td><input  
    #preQuest
    class=' is-small '
    value= {{questionsIn[qx].preQuest}}
  size="110"
  (change)=preQuestChg(preQuest.value,qx)              
  autocomplete="off"> </td>
  </tr>
  <tr>
  <td><label>Question: </label></td>
  <td><textarea  
    #questTxt
    rows={{rangeTxtRows}}
    cols={{rangeTxtCols}}
    class=' textarea has-text-weight-semibold'
    value= {{questionsIn[qx].questTxt}}
    (change)=questTxtChg(questTxt.value,qx) 
    overflow="auto"  
    autocomplete="off"> </textarea>   </td>
  </tr>
  
  <tr>
    <td><label>Group: </label></td>
    <td><input  
       #subset
       type='text'
      class=' is-small '
      value= {{questionsIn[qx].subset}}
       size="20"
       (change)='subsetChg(subset.value,qx)'            
       autocomplete='off'> </td>
    </tr>
    <tr *ngIf='fullRuleWords.length > 0'>
      <td><label>Rely on Scoreboard: </label></td>
      <td><input disabled 
        class=' is-small '
        value= {{fullRuleWords}}
         size="20">
      </td>
    </tr>
    <!-- <tr>&nbsp;</tr> -->
    <tr>
    <td>Add to ScoreBoards:</td>
    <td>
      <input  size=20
      #questAccum0
      class=' is-small'
      value= {{questionsIn[qx].accum[0]}}
      (change)=questAccumChg(questAccum0.value,qx,0)              
      autocomplete="off">  &nbsp;
      
    <input  size=20
      #questAccum1
      class='is-small'
      value= {{questionsIn[qx].accum[1]}}
      (change)=questAccumChg(questAccum1.value,qx,1)             
      autocomplete="off"> &nbsp; 
    <input  size=20
        #questAccum2
        class=' is-small'
        value= {{questionsIn[qx].accum[2]}}
        (change)=questAccumChg(questAccum2.value,qx,2)             
        autocomplete="off">  
  </td>
  </tr>
</table>

<!-- <table class=' table has-background-success-light is-narrow'>
  <tr><td>
  <label>how many answer choices: </label>
  <input  
    class='input is-small '
    type="number"
    value= {{answerChoiceCount}}
    size="1"
    min="1" 
    max="9" 
    maxlength="2"
    (change)=questAcaCountChg($event,qx)              
    autocomplete="off"> 
    </td></tr>
</table> -->

<table class=' mt-3 table has-background-info-light is-narrow'>
  <thead>
      <tr>
      <td>Answer choice frame:</td>
      <td><input  
        #acaFrame
        class=' is-small '
        value= {{questionsIn[qx].acaFrame}}
        size="45"
        (change)=acaFrameChg(acaFrame.value,qx)              
        autocomplete="off"></td> </tr>
    <tr>
      <th>Answer Choice</th>
      <th>Points</th>
      <td><button 
        class='button is-info is-small'
        (click)='addAnswerChoice()'  >
        append choice</button></td>
        <th><button 
          class='button is-info is-small'
          (click)='setAnswerChoice13()'  >
          set 1-3</button></th>
        <th><button 
          class='button is-info is-small'
          (click)='setAnswerChoice15()'  >
          set 1-5</button></th>
        <th><button 
          class='button is-info is-small'
          (click)='setAnswerChoice18()'  >
          set 1-8</button></th>
    </tr>
  </thead>
  <tbody>
<tr *ngFor="let a of questionsIn[qx].aca; let ax=index" > 

<td><input  
  #aca
  class=' is-small '
  value= {{questionsIn[qx].aca[ax]}}
  size="15"
  (change)=questAcaChg(aca.value,qx,ax)              
  autocomplete="off"> 
</td>  
  <td>
  <input  
  #pointVal 
  class=' is-small '
  value= {{questionsIn[qx].acaPointVals[ax]}}
  size="2"
  (change)=questAcaPointValChg(pointVal.value,qx,ax)              
  autocomplete="off">   
</td>
<td><button 
  class='button is-info is-small'
  (click)='delAnswerChoice(ax)'>
  delete choice</button></td>
</tr>
  
  </tbody>
</table>
</div>
 
<!-- <button class='button is-info is-rounded is-small'>a</button>
&#9644;&#9644;&#9644;&#9644;
<button class='button is-info is-rounded is-small'>b</button>
&#9644;&#9644;&#9644;&#9644;
<button class='button is-info is-rounded is-small'>c</button>
&#9620;&#9620;&#9620;&#9596;&#9596;&#9596;
&#8866;&#8866;&#8866;
<button class='button is-primary is-rounded is-small'>1</button> -->
<br><br>
<span id='htmlIdBottomOfPage'> </span>

<!-- <section>
  <div class='columns'>
    <div class='column is-one-fifth'>
      <div >Question Nbr:</div>
      <div >Sequence:</div>
      <div >Pre-Question:</div>
    </div>
    <div class='column is-four-fifths'>
      <input  
        class='input is-small '
        value= 'da seq'
        size="7"
        (change)=questSeqChg($event,qx)              
        autocomplete="off">
        <input  
          class='input is-small '
          value= 'coolie2b'
          size="22"
          (change)=questSeqChg($event,qx)              
          autocomplete="off"> 
           <input  
            class='input is-small '
            value= 'coolie2c'
            size="22"
            (change)=questSeqChg($event,qx)              
            autocomplete="off">

    </div>
  </div>
</section> -->

