<div class='selz-sticky-top ' >
  <div class=' columns has-background-warning is-marginless is-gapless '>
    <div class=' column is-two-fifths'>
      <div class=''> &nbsp; {{surveyNameIn}} 
        &nbsp;&nbsp; {{compTitleIn}}  
        &nbsp;&nbsp; {{loadingDataMsg}} 
      </div> 
    </div>
    <div class='column is-two-fifths'>
      <span *ngIf='showMenButsIn'>
        <span *ngIf='showSurveyMenButsIn'>
          <span id='scoreboards' class='tag is-small is-info m-1 is-clickable' (click)=jumpToWwsr()>scoreboards</span> 
          <span id='groups' class='tag is-small is-info m-1 is-clickable' (click)=jumpToWwg()>groups</span>  
          <span id='rules' class='tag is-small is-info m-1 is-clickable' (click)=jumpToWwr()>rules</span> 
          <span id='questions' class='tag is-small is-info m-1 is-clickable' (click)=jumpToWwq()>questions</span> 
          <span>&nbsp;&nbsp;</span>
          <span id='users' class='tag is-small is-info m-1 is-clickable' (click)=jumpToWwu()>participants</span> 
        </span>
      </span>
    </div>
    <div class='column is-one-fifth'>
          <span *ngIf='showMenButsIn'>
            <span id='logout' class='tag is-small is-info m-1 is-clickable' (click)=jumpToWws()>logout</span> 
            <span id='profile' class='tag is-small is-info m-1 is-clickable has-background-primary' (click)=jumpToPro() >profile</span> 
          </span>
          <span class='button has-background-warning is-small is-pulled-right'
            (click)='showHideHelp()'>
            <span> Help &#10068; </span>
          </span>
     </div>
  </div>
</div>
<div *ngIf='showMsg1' class='tag is-small is-dark'>{{msg1}}</div> 
