<div class='selz-sticky-top ' >
  <div class=' columns has-background-warning is-marginless is-gapless '>
    <div class='column is-one-fifth'> &nbsp; {{compTitleIn}} </div> 
    <div class='column is-three-fifths'>
        <span *ngIf='showMenButsIn'>
         <span *ngIf='showSurveyMenButsIn'>
          <span id='questions' class='tag is-small is-info m-1 is-clickable' (click)=jumpToWwq()>questions</span> 
          <span id='groups' class='tag is-small is-info m-1 is-clickable' (click)=jumpToWwg()>groups</span>  
          <span id='rules' class='tag is-small is-info m-1 is-clickable' (click)=jumpToWwr()>rules</span> 
          <span id='scoreRanges' class='tag is-small is-info m-1 is-clickable' (click)=jumpToWwsr()>scoreRanges</span> 
          <!-- <span id='invitations' class='tag is-small is-info m-1 is-clickable' (click)=jumpToWwi() >invitations</span>  -->
          <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
          <span id='users' class='tag is-small is-info m-1 is-clickable' (click)=jumpToWwu()>participants</span> 
        </span>
        <span>
          <span id='logout' class='tag is-small is-info m-1 is-clickable is-pulled-right' (click)=jumpToWws()>logout</span> 
          <span id='profile' class='tag is-small is-info m-1 is-clickable has-background-primary is-pulled-right' (click)=jumpToPro() >profile</span> 
        </span>
        </span>
    </div>
    <div class='column is-one-fifth'>
      <span class='button has-background-warning is-small is-pulled-right '
          (click)='showHideHelp()'>
          <span> Help &#10068; </span>
      </span>
      <span *ngIf='showMsg1' class='tag is-small is-dark'>{{msg1}}</span> 
    </div> 
</div>
</div>
