  
<!-- <section *ngIf='showAppComponent'>
  <div class='has-background-warning-light is-size-6 '>
    {{title}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class='is-size-7'>
      app.component.html &nbsp;&nbsp;&nbsp;&nbsp;
      contains components: qnc wwg wwq wwqd
    </span>
  </div>
</section> -->

<app-qncmen *ngIf="showQncMen"
  [authIn]='qncAuthorized'
  [showMenButsIn]='menuButsAlive'
  [showSurveyMenButsIn]='surveyMenuButsAlive'
  [compTitleIn] = 'compTitle'
  [surveyNameIn]="surveyName"
  [loadingDataMsg] = 'loadingDataMsg'
  (wwqJumpOut)="showWwqFun($event)"
  (wwgJumpOut)="showWwgFun($event)"
  (wwrJumpOut)="showWwrFun($event)"
  (wwiJumpOut)="showWwiFun($event)"
  (wwuJumpOut)="showWwuFun($event)"
  (wwsJumpOut)="showWwsFun($event)"
  (proJumpOut)="showProFun()"
  (wwsrJumpOut)="showWwsrFun($event)"
>
</app-qncmen>

<app-qnc   *ngIf="showQnc" 
  [subsetsIn]="subsetArray"
  [questionsIn]="questArray"
  [showQnc]="showQnc" 
>
</app-qnc>

<app-qncpro *ngIf="showQncPro"
  [subscriberInternalIdIn]='subscriberInternalId'
  [subscriptionObjIn]='subscriptionObj'
  [teamMemberObjIn]='teamMemberObj'
  [custIn]='cust'
  [qidIn]='qid'
  [qidArrayIn]='qidArray'
  [loadingDataBusyIn] = 'loadingDataBusy'
  (surveySelectOut)="surveySelected($event)"
  (qidArrayOut)="qidArrayWasBuilt($event)"
  (subscriptionObjOut)="subscriptionObjWasBuilt($event)"
>
</app-qncpro>

<app-qncwwg   *ngIf="showQncWwg" 
   [questionsIn]="questArray"
   [groupsIn]="groupArray"
   [filterResetIn]='wwgFilterReset'
   (wwgdJumpOut) = "showWwgdFun($event)"
   (groupsOut)   = "setGroupsFromWwgFun($event)"
   (groupNbrOut) = "setGroupNbrFromWwgFun($event)"
   >
</app-qncwwg>

<app-qncwwgd *ngIf="showQncWwgd"
  [custIn]="cust"
  [qidIn]="qid"
  [groupNbrIn]="daGroupNbr"
  [groupsIn]='groupArray'
  (wwgJumpOut)="showWwgFun($event)"
>
</app-qncwwgd>

<app-qncwwq  *ngIf="showQncWwq" 
  [custIn]="cust"
  [qidIn]="qid"
  [subsetIn]="subset"
  [subsetsQncWwq]="subsetsQncWwq"
  [questionsIn]="questArray"
  [rulesIn]="rulesArray"
  [groupsIn]="groupArray"
  [filterResetIn]='wwqFilterReset'
  (wwqdJumpOut)="showWwqdFun($event)"
  (questionNbrOut)="setQuestionFromWwqFun($event)"
  (questionsOut)="setQuestionsFromWwqFun($event)"
> 
</app-qncwwq>

<app-qncwwqd  *ngIf="showQncWwqd" 
  [custIn]="cust"
  [qidIn]="qid"
  [questionNbrIn]="daQuestion"
  [questionsIn]="questArray"
  [rulesIn]="rulesArray"
  [subsetsIn]="subsetArray"
  (wwqJumpOut)="showWwqFun($event)"
>
</app-qncwwqd>

<app-qncwwr *ngIf="showQncWwr" 
  [questionsIn]="questArray"
  [rulesIn]="rulesArray"
  [subsetsIn]="subsetArray"
  [filterResetIn]='wwrFilterReset'
  (rulesOut)    =" setRulesFromWwrFun($event)"
  (ruleNbrOut)  = "setRuleNbrFromWwrFun($event)"
  (wwrdJumpOut) = "showWwrdFun($event)"
>
</app-qncwwr>

<app-qncwwrd *ngIf="showQncWwrd" 
  [custIn]="cust"
  [qidIn]="qid"
  [ruleNbrIn]="daRuleNbr"
  [rulesIn]="rulesArray"
  [groupsIn]="groupArray"
  [scoreboardsIn]="scoreboardsArray"
  [questionsIn]="questArray"
  (wwrJumpOut) = "showWwrFun($event)"
>
</app-qncwwrd>

<app-qncwwi *ngIf="showQncWwi" 
  [custIn]="cust"
  [qidIn]="qid"
  (qncJumpOut) = "showQncFun($event)"
>
</app-qncwwi>

<app-qncwwu *ngIf="showQncWwu" 
  [custIn]="cust"
  [qidIn]="qid" 
  [scoreboardsIn]="scoreboardsArray"
  [surveyNameIn]="surveyName"
>
</app-qncwwu>

<app-qncwws   *ngIf="showQncWws" 
  [firstLoginIn] = 'firstLogin'
  [authIn]='qncAuthorized'
  (qncSetAuthOnOut) = "setAuthOnFun($event)"
  (proJumpOut)="showProFun($event)"
  (teamMemberObjOut)="teamMemberObjWasBuilt($event)"
>
</app-qncwws>

<app-qncconv *ngIf="showQncConv" >
</app-qncconv>

<app-qncwwsr *ngIf="showQncWwsr"
  [custIn]="cust"
  [qidIn]="qid"
  [scoreboardNbrIn]="daScoreboardNbr"
  [scoreboardsIn]="scoreboardsArray"
  [filterResetIn]='wwsrFilterReset'
  [questionsIn]="questArray"   
  (scoreboardNbrOut) =  "setScoreboardNbrFromWwsrFun($event)"
  (scoreboardsOut)   = "setScoreboardsFromWwsrFun($event)"
  (wwsrdJumpOut)     =   "showWwsrdFun($event)"
>
</app-qncwwsr>

<app-qncwwsrd *ngIf="showQncWwsrd"
  [custIn]="cust"
  [qidIn]="qid"
  [scoreboardNbrIn]="daScoreboardNbr"
  [scoreboardsIn]="scoreboardsArray"
  [rulesIn]="rulesArray"
  [subsetsIn]="subsetArray"
  (wwsrJumpOut)="showWwsrFun($event)"
>
</app-qncwwsrd>
